<article class="card">
  <div class="name">
    <h2><a href="/deck/{{id}}">{{deck.deck_name}}</a>
    </h2>
    <p>{{deck.deck_name}}</p>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          {{ card_front}}
        </div>

        <div class="flip-card-back">
          {{ card_back}}
        </div>
      </div>


    </div>
  </div>
  {{!-- place this code to only display on dashboard/main page only --}}

      </div>
    </div>
  </div>


</article>