<article class="deck">
  <div class="name">
    <h2><a href="/deck/{{id}}">{{deck_name}}</a> 
    </h2>
    <p>
      
    </p>
    
  </div>
  <div class="card">
  <div class="card-header">
    {{deck_name}}
  </div>
  <div class="card-body">
    <p class="card-text"> {{card_front}} </p>
    <a href="/deck/{{id}}" class="btn btn-primary">Open Deck</a>
  </div>
</div>
  <div class="meta">
    <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
</article>