<article class="deck">
  <div class="name">
    
    {{!-- <p>
      
    </p> --}}
    
  </div>
  <div class="card">
  <div class="card-header">
    {{deck_name}}
  </div>
  <div class="card-body">
    {{ card_front }}
  </div>
    <div class="card-footer">
    <a href="/deck/{{id}}" class="btn btn-primary">Open Deck</a>
    <a href="/card" class="btn btn-success">Add Card</a>
    <a href="/deck/{{id}}" class="btn btn-danger">Delete Deck</a>
    </div>
</div>
  <div class="meta">
    <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
</article>