<article class="deck">
  <div class="name">
    <h2><a href="/deck/{{id}}">{{deck_name}}</a> <span>(created by {{user.username}} on {{format_date created_at}})</span>
    </h2>
    <p>{{deck_name}}</p>
  </div>
  {{!-- place this code to only display on dashboard/main page only --}}
  <div class="meta">
    <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
</article>