<section>
  <div>
    <h4>Your cards:</h4>
    <button data-position={{position}} class="previous">Prev</button>
    <button data-position={{position}} class="next">Next</button>
    {{#each decks }}

    <div data-position={{position}} class="flip-card">
      <div class="flip-card-inner">



        <div class="card flip-card-front">
          <div class="card-header">
            {{dataValues.deck_name}}
          </div>
          <div class="card-body">
            <p class="card-text"> {{dataValues.card_front}} </p>

          </div>

        </div>


        <div class="card flip-card-back">
          <div class="card-header">
            {{deck_name}}
          </div>
          <div class="card-body">
            <p class="card-text"> {{dataValues.card_back}} </p>

          </div>

        </div>


        {{/each}}
      </div>


</section>

{{#if loggedIn }}


<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments deck.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"></script>
<script>


  var position = 0
  var status = "front"
  $(".flip-card").on("click", function () {
    if (status === "front") {
      $(".flip-card-inner").attr("style", "transform: rotateY(180deg)")
      status = "back"
    }
    else {
      $(".flip-card-inner").attr("style", "transform: rotateY(360deg)")
      status = "front"
    }
    console.log(status)

  })

  $(".next").on("click", function () {
    position++
    display(position)
  })
  $(".previous").on("click", function () {
    position--
    display(position)
  })

  function display(value) {
    $(".flip-card").each(function (index) {

      console.log(index, value)
      if (index > value) {
        $(this).hide()
      }
      if (value > index) {
        $(this).show()
      } else {
        $(this).hide()
      }
    })

  }

  display(position)

</script>